<div class="app-card-container">
	<div class="card">
		<h1>About Me</h1>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<%= image_tag "pd_photo.jpg", size: "200x200", alt: "Profile Image", class: 'profile-image' %>
			</div>
			<div class="col-md-8">
				<p>
					Patrick is a skilled software engineer with broad experience across a range of technologies beyond software engineering including security, networking, and infrastrucutre. He is passionate about providing high quality and reliable solutions to customer's challenges.
				</p>
				<p>
					Key to achieving customer satifaction and a successful project is clear and regular customer communication, from the initial meeting until delivery of the complete solution.
				</p>
				<p>			
					This starts with a clear and agreed set of features defined in a requirements document followed by regular progress updates during the development cycle and culminating in a final solution that aligns with the original requirements in terms of quality, reliability, and delivery time.
				</p>
				<p>	
					Beyond the technical domain Patrick has a weath of experience in sales and marketing with strong communication skills to cut through technical jargon and terminology and translate the project goals into clear business values.
				</p>
				<p>
					Feel review the portfolion and blog pages and feel free to reach out to Patrick via the email contact on the About Me page.
				</p>
				<p>
					<button
					class="btn btn-primary"
					type="button"
					data-toggle="collapse"
					data-target="#skills"
					aria-expanded="false"
					aria-controls="skills"
					>
					Skills
				</button>
				<button
				class="btn btn-primary"
				type="button"
				data-toggle="collapse"
				data-target="#education"
							aria-expanded="false"
							aria-controls="education"
						>
							Education
						</button>
					</p>
					<div class="collapse" id="education">
						<div class="card card-body">
							
								Master of Engineering Management
								University of Technology, Sydney
							
						</div>
						<div class="card card-body">
							
								Bachelor of Engineering Science, Information and Communication Technology
								University of Technology, Sydney
							
						</div>
					</div>
				</p>
				<div class="collapse" id="skills">
					<div class="skills">
						<div class="skill">
							<% @skills.each do |skill| %>
								<h5><%= skill.title %></h5>
								<div class="progress">
									<div 
										class="progress-bar progress-bar-striped progress-bar-success"
										role="progressbar"
										aria-valuenow="<%=skill.percent_utilized%>"
										aria-valuemin="0"
										aria-valuemax="100"
										style="width: <%=skill.percent_utilized%>%"
									>
										<%=skill.percent_utilized%>%	
									</div>
								</div>
							<% end %>
						</div>
						<p># Bars cummulatively total 100%.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

